<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicacion_de_Hipica_Almudena_Iparraguirre.Properties.Settings.datosHipicaConnectionString"
            connectionString="Data Source=3MASANZ-A17-06\SQL2;Initial Catalog=datosHipica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Aplicacion_de_Hipica_Almudena_Iparraguirre.Properties.Settings.AplicacionDeHipicaConnectionString"
            connectionString="Data Source=ASSUS-ALLO\SQLEXPRESS;Initial Catalog=AplicacionDeHipica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>